extends layout

block content
  form(method="POST"
    action="/results"
    enctype="application/x-www-form-urlencoded'
    required)
    p Who will you vote for?
    each candidate in candidates
      if candidate
        include candidate

    input(type="hidden"
      name="constituency"
      value="#{constituency}")

    p
    input(type="submit"
      value="Next >")

